Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      modernize-*,
      cppcoreguidelines-pro-type-member-init,
    ]
    Remove: [
      modernize-use-trailing-return-type
    ]
