Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      modernize-*,
    ]
    Remove: [
      modernize-use-trailing-return-type
    ]
